* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 8px;
}

.pokemon .head {
    display: flex;
    justify-content: space-between;
}

.pokemon {
    margin: .5rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #1AC9AA; 
    color: white;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.pokemon .number {
    color: rgb(255, 255, 255);
    text-align: right;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    background-color: rgb(65, 173, 154);
    color: white;
    padding: .25rem .3rem;
    margin: .2rem;
    font-size: .825rem;
    border-radius: 2rem;
}

.pokemon .detail img {
    max-width: 100%;
    width: auto;
    height: 70px;
}