@charset "UTF-8";

/* 
    Em HTML é id    = em CSS é # (Só pode um elemento) (por página)
    Em HTML é class = em CSS é . (Pode vários elementos)
*/

body {
    background-color: rgb(211, 184, 236);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: rgb(89, 25, 150);
}

h1#principal {
    text-align: center;
    background-color: rgb(218, 199, 236);
}

h2 {
    color: rgb(130, 84, 180);
}

.basico {
color: rgb(192, 1, 250);
}

.intermediario {
color: rgb(211, 25, 248);
}

.avançado {
color: rgb(224, 15, 206);
}

.destaque {
    background-color: rgba(226, 250, 15, 0.637);
}